@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Bree+Serif&family=Josefin+Sans:wght@100&family=Roboto:wght@500&family=Rubik:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  /* Background-color  */
  --bg-danger: #f63440;
  --bg-white: #fff;
  --bg-light-white: #f5f5f5;

  /* text-color  */
  --primary-font: "Bree Serif", serif;
  --text-white: #fff;
  --text-black: #121212;
  --text-danger: #f63440;
  --text-gray: #aaa;
  --text-dark-gray: #777;
}

body {
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
  background-color: var(--bg-white);
  color: var(--text-black);
  overflow-x: hidden;
}

/* custom css  */

a,
a:hover {
  text-decoration: none;
}
p {
  margin: 0;
}

.btn-danger {
  background-color: var(--bg-danger);
  border-color: var(--bg-danger);
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.btn-danger::hover {
  color: var(--bg-danger);
  background: transparent;
}

/* navigation section  */
#header .fixed-top {
  box-shadow: 0 0.125rem 0.675rem rgb(0 0 0/ 5%);
}
